body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/*estilizando_menu_de_navegacion*/
.navbar {
    padding: 10px 20px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(93, 93, 220);
    color: rgb(255, 255, 255);
    position: relative;
}
.logo img {
    width: 130px;
}
.menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.menu-list li {
    margin-right: 20px;
}
.menu-list li a {
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.menu-list li a:hover {
    color: rgb(220, 172, 0);
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: transform 0.4s ease;
    background-color: rgb(0, 0, 0);
}
.burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.active .line2 {
    opacity: 0;
}
.burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
@media screen and (max-width: 768px) {
    .menu-list {
        top: 40px;
        left: 0;
        right: 0;
        padding: 10px;
        animation: fadeInOut 0.5s ease forwards;
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: rgb(93, 93, 220);
    }
    .menu-list.active {
        display: flex;
    }
    .menu-list li {
        margin: 10px 0;
    }
    .burger {
        display: block;
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*estilizando_carrusel*/
.carousel {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}
.slides {
    transition: transform 0.5s ease;
    display: flex;
}
.slides img {
    width: 100%;
    height: auto;
}
.controls {
    top: 90%;
    width: 100%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    justify-content: center;
}
.next {
    order: 1;
}
.controls button {
    padding: 10px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}
.indicators {
    margin-top: 10px;
    text-align: center;
}
.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    background: rgb(0, 0, 0);
}
.indicator.active {
    background: rgb(220, 172, 0);;
}
@media screen and (max-width: 768px) {
    .slides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}
}
/*estilizando_zona_de_perfiles*/
/* Estilos para la Directora TIC */
.director-tic {
    text-align: center;
    margin-bottom: 30px;
}

.director-tic img {
    max-width: 30%;
    border-radius: 5px;
    margin-top: -5px;
    margin-left: -125px;
    height: auto;
}

.director-tic h2 {
    margin-top: 40px;
    margin-left: -1100px; /* Agregamos margen izquierdo */
}

.director-tic h3 {
    margin-top: 20px;
}

.director-tic p {
    margin-top: 20px;
    text-align: justify;
}

.director-tic button.preview-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(93, 93, 220);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.director-tic button.preview-button:hover {
    background-color: rgb(59, 59, 143);
}

@media screen and (max-width: 768px) {
    /* Estilos adicionales para dispositivos pequeños si es necesario */
    .director-tic img {
        margin-top: 10px;
    }
}

/*estilizando_zona_de_sugerencia_parte_1*/
.suggestion-area {
    gap: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.suggestion {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suggestion img {
    max-width: 100%;
    height: auto;
}
.visit-btn {
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: rgb(93, 93, 220);
    color: rgb(0, 0, 0);
}
.visit-btn:hover {
    transform: scale(1.05);
    color: rgb(220, 172, 0);
    background-color: rgb(59, 59, 143);
}
.paragraph {
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: bold;
}
.content-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.content-container img {
    margin: 0 auto;
    display: block;
}
@media screen and (max-width: 768px) {
    .suggestion-area {
        flex-direction: column;
        align-items: center;
    }
    .suggestion {
        margin-bottom: 20px;
    }
}
.image-container {
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(93, 93, 220);
}
.image-container img {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
}
/*estilizando_zona_de_sugerencia_parte_2*/
.categories-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.category {
    margin: 20px;
    max-width: 300px;
    text-align: center;
}
.category img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}
.category-title {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
    text-align: justify;
}
.category-description {
    margin-top: 5px;
    text-align: justify;
}
.category button {
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: rgb(93, 93, 220);
    color: rgb(0, 0, 0);
}
.category button:hover {
    transform: scale(1.05);
    color: rgb(220, 172, 0);
    background-color: rgb(59, 59, 143);
}
/*estilizando_publicidad*/
img#image-22 {
    max-width: 80%;
    border-radius: 10px;
    display: block;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*estilizando_pie_de_pagina*/
footer {
    padding: 30px 20px;
    margin-top: 60px;
    text-align: center;
    background-color: rgb(93, 93, 220);
}
footer img {
    max-width: 100%;
    margin-top: -80px;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    footer img {
        margin-top: -40px;
    }
}