body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: relative;
}

.navbar .logo {
    font-size: 1.5em;
}

.navbar .search input {
    padding: 5px;
    margin-right: 5px;
    border: none;
}

.navbar .search button {
    padding: 5px;
    background-color: transparent;
    border: none;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; /* Añadido para hacer que las opciones estén en negrita */
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .navbar .search,
    .navbar .nav-links {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 0;
        z-index: 999;
    }

    .nav-links.active li {
        margin-right: 0;
        text-align: center;
    }

    .nav-links.active li a {
        color: #fff;
        padding: 10px;
        display: block;
        font-weight: bold; /* Añadido para hacer que las opciones estén en negrita */
    }
}
